.header{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    /*position: fixed;*/
    border: none;
    border-bottom:2px solid #1C87E4;

}
body{
    margin: 0;
}
.logo-icon{
    width: 150px;
    height: 150px;
    position: relative;
}
.logo-text{
    font-family: "Roboto";
    color:#1C87E4;
    font-size:20px;
}
.btn-catalog{
    border:none;
    border-right:2px solid #1C87E4;
    background-color: white;
    color:#1C87E4;
    font-family: "Montserrat";
    font-size:24px;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
}
.btn-aboutus{
    border:none;
    border-right:2px solid #1C87E4;
    background-color: white;
    color:#1C87E4;
    font-family: "Montserrat";
    font-size:24px;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
}
.btn-login{
    border:none;
    background-color: white;
    color:#1C87E4;
    font-family: "Montserrat";
    font-size:24px;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
}
.btn-home{
    border:none;
    border-right:2px solid #1C87E4;
    background-color: white;
    color:#1C87E4;
    font-family: "Montserrat";
    font-size:24px;
    padding-right: 25px;
    padding-left: 250px;
    cursor: pointer;
}
.btn-catalog:hover{
    color: #2c5e8a;
}
.btn-aboutus:hover{
    color: #2c5e8a;
}
.btn-login:hover{
    color: #2c5e8a;
}
.btn-home:hover{
    color: #2c5e8a;
}
.city-text{
    color:#1C87E4;
    font-family: "Montserrat";
    font-size:24px;
    
}
.city{
    justify-content: right;
    position: relative;
    float: inline-end;
    padding-left: 400px;

}
#city-select{
    border:1px solid #1C87E4;
    background-color: white;
    font-family: "Montserrat";
    color:#1C87E4;
    cursor: pointer;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.profile-card{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
.name{
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
}
.name-text{
    color: #1C87E4;
    font-family: "Roboto";
    font-size: 28px;
}
.profile-card-img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    cursor: pointer;
}
.name-line{
    width: 100%;
    border-color: #1C87E4;
    border-width: 1px;
}

.profile-cart{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 535px;
}
.cart-title{
    font-family: "Roboto";
    color: #115C9B;
}
.cart-title-div{
    display: flex;
    justify-content: left;
    width: 90%;
    margin-left: 10%;
}
.cart{
    width: 50%;
}
.cart-bg{
    background-color: #1C87E4;
    height: 500px;
    border-radius: 5px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.cart-bg-bg{
    background-color: #5aa7eb;
    width: 95%;
    border-radius: 5px;
    padding: 20px;
    
}
.cart-product{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid#fff;
}
.product-name{
    font-family: "Ubuntu";
    color: #fff;
    font-size: 20px;
    margin-left: 5px;
}
.cart-product-block{
    display: flex;
    align-items: center;
}
.product-price{
    font-family: "Ubuntu";
    color: #fff;
    font-size: 20px;
    margin-right: 15px;
}
.plus-minus{
    display: flex;
    align-items: center;
    font-family: "Ubuntu";
    font-size: 20px;
    color: #fff;
}
.one{
    margin-left: 5px;
    margin-right: 5px;
}
.cart-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid #1c87e4;
    border-radius: 5px;
    padding: 20px;
}
.cart-checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #1C87E4;
}
.cart-checkout-button{
    background-color: #1c87e4;
    font-family: "Montserrat";
    color:#fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
    border: 1px solid #1c87e4;
    padding: 5px;
}
.cart-checkout-button:hover{
    background-color: #fff;
    color:#1C87E4;
    border: 1px solid #1C87E4;
}
.cart-checkout-text{
    font-family: "Montserrat";
    color: #7d9ab0;
}
.cart-about{
    border-bottom: 1px solid #1C87E4;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}
.cart-about-title{
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
    color: #115C9B;
}
.cart-about-text-div{
    display: flex;
    justify-content: space-between;

}
.cart-about-text{
    font-family: "Roboto";
    font-size: 16px;
    color: #1C87E4;
}
.cart-about-text2{
    font-family: "Roboto";
    font-size: 16px;
    color: #1C87E4;
    font-weight: 600;
}
.cart-about-text1{
    font-family: "Roboto";
    font-size: 16px;
    color:rgb(255, 49, 49);
    font-weight: 600;
}

.cart-subscription{
display: flex;
flex-direction: column;
align-items: left;
width: 100%;
border-bottom: 1px solid #1C87E4;
}
.cart-subscription-title{
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
    color: #115C9B;
}
.cart-subscription-discount{
    background-image: linear-gradient(to right, #c0c0c0, #959595);
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight:500 ;
    border-radius: 5px;
    padding: 5px;
    width: 375px;
}
.total{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.total-title{
    font-family: "Roboto";
    font-size: 38px;
    font-weight: 500;
    color: #1c87e4;

}
.footer{
    background-color: #115C9B;
    width: 100%;
    height: 500px;
    margin-top: 20px;
}
.map{
    border-radius: 5px;
}
.map-title{
    font-family: "Roboto";
    color: #fff;
}
.contact-title{
    font-family: "Roboto";
    color: #fff;
}
.footer-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-map{
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
}
.footer-contact{
    display: flex;
    width: 55%;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: "Ubuntu";
    font-size: 18px;
}
.contact-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}